.container {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(10px);
	z-index: 100;
}
.wrapper {
	position: relative;
	background-color: var(--one);
	padding: 1rem;
	max-width: 60%;
	border-radius: 1rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-evenly;
}
.wrapper > * {
	width: 45%;
}
.wrapper p {
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;
	text-transform: capitalize;
	white-space: nowrap;
	justify-content: center;
	align-items: center;
}

.wrapper span {
	color: var(--three);
}
.wrapper p:last-child {
	width: 100%;
}
.wrapper .value,
.wrapper p:nth-child(2) {
	font-size: 3rem;
}
.closeBtn {
	position: absolute;
	top: 5px;
	right: 5px;
	width: max-content;
}
.closeBtn button {
	padding: 0.5rem;
	background-color: transparent;
	border: transparent;
	color: red;
	font-size: 1.5rem;
	cursor: pointer;
	transition: 0.3s;
}
.closeBtn button:hover {
	transform: rotate(90deg);
}
