main {
	display: flex;
	height: 100dvh;
}
.center {
	width: 100%;
	overflow: auto;
	position: relative;
}
.center:has(.notImplemented) {
	display: flex;
	justify-content: center;
	align-items: center;
}
.alert {
	position: absolute;
	left: 50%;
	bottom: 10px;
	z-index: 999;
	background-color: yellow;
	font-size: 1.3rem;
}
